@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,400;8..144,1000&display=swap');

body {
    margin: 0;
    padding: 0px;
    max-height: 100vh;
    box-sizing: border-box;
    background-color: #14142c;
    font-family: 'Roboto Flex', sans-serif;
    color: whitesmoke;
}

header {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 64px;
    font-weight: 1000;
    margin: 0;
    color: #e66465;
}

h2 {
    color: #2132e4
}

h3 {
    font-size: 46px;
    margin: 0;
}

#drumpads {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
    max-height: 100%;
    padding: 0px 550px 0px 550px;
}

.drumpad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 20px;
    text-align: center;
    border-radius: 15%;
    border: 10px;
    background: radial-gradient(#e66465, #2132e4);
}

